.Users-top-bar {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.Users-top-bar > * {
  margin-right: 18px;
}
.Users-loading {
  height: 100vh;
}

.Users-root {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
